

.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.image-fromage {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.image-vache {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
